<?xml version="1.0" encoding="UTF-8"?>

<!-- Basic configuration used until the real configuration can be loaded -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%date{HH:mm:ss.SSS} - %level [%logger:%line] - %msg%n%ex{full}%n</Pattern>
        </encoder>
    </appender>
    <root>
        <level value="info" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>